# /home4/darcio33/public_html/homolog/.htaccess

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Se a URL for exatamente /homolog/ (ou seja, caminho vazio), manda para web/
  RewriteRule ^$ web/ [L]

  # Se já não estiver em web/, manda tudo para web/...
  RewriteCond %{REQUEST_URI} !^/homolog/web/
  RewriteRule ^(.*)$ web/$1 [L]
</IfModule>
