$font-default: 	        'League Spartan', sans;

$primary: 		        #189f56;
$secondary:             #ffea06;
$tertiary:              #1f1d60;
$muted:                 #F5F5F5;

$tagDestaque:           #D6043C;
$danger:                #921d1d;

$text-default:          #5B5B5B;
$text-date:             #9b9b9b;

$subfooter:             #525252;