<div class="editorial-card">

    {% set title_text = row._entity.title.value %}
    <h5 class="editorial-title">
      {{ title_text|length > 50 ? title_text|slice(0, 50) ~ '...' : title_text }}
    </h5>


    {% if row._entity.body.value %}

      {% set plain_body = row._entity.body.value|striptags %}

      {% set display_body = plain_body|length > 120
           ? plain_body|slice(0, 120) ~ '...'
           : plain_body %}
      <p class="editorial-body">{{ display_body }}</p>
    {% endif %}

</div>
